# tasks file for autofs
- name: "Find automount location"
  slurp:
    src: /etc/sssd/sssd.conf
  register: sssd_conf

- set_fact:
    sssd_automount_location: >-
        {{ sssd_conf['content']
                | b64decode
                | regex_search('ipa_automount_location *= *(.*)', multiline=True)
        }}


- name: "Install packages {{ packages | join(', ') }}"
  dnf:
    name: "{{ packages }}"
    state: latest

- name: "Configure automount from IPA"
  command:
    cmd: "ipa-client-automount --location={{ automount_location }} --unattended"
  when:
    - automount_location is defined
    - automount_location | length > 0
    - sssd_automount_location == ""
  register: ipa_client_automount
  failed_when: ipa_client_automount.rc not in [0,3]

- name: "autofs: Configure autofs.conf"
  ini_file:
    path: /etc/autofs.conf
    section: " autofs "
    option: "{{ item.key }}"
    value: "{{ item.value }}"
  with_dict: "{{ autofs_options }}"
  notify: restart_autofs

- name: "autofs: Start and enable autofs"
  service:
    name: autofs
    enabled: yes
    state: started
