module postfix-extra 1.0;

require {
	class dir search;
	class file unlink;
	class process { noatsecure rlimitinh siginh };
	class sock_file write;
	type cyrus_var_run_t;
	type init_t;
	type krb5_keytab_t;
	type postfix_cleanup_t;
	type postfix_master_t;
	type postfix_pipe_t;
	type postfix_smtp_t;
	type postfix_smtpd_t;
	type postfix_smtpd_tmp_t;
}

#============= postfix_smtp_t ==============
allow postfix_smtp_t cyrus_var_run_t:sock_file write;

#============= init_t ==============
allow init_t postfix_smtpd_tmp_t:file unlink;

#============= postfix_pipe_t ==============
allow postfix_pipe_t cyrus_var_run_t:sock_file write;

#============= postfix_master_t ==============
allow postfix_master_t postfix_smtpd_t:process { noatsecure rlimitinh siginh };

#============= postfix_cleanup_t ==============
allow postfix_cleanup_t krb5_keytab_t:dir search;
